
*{
    margin:0px;
    padding: 0px;
}


.btnSalvarProduto{
    
    transition: all .1s linear 0s;
    margin: auto;
    width: 60%;
    height: 80px ;
     outline: 0;
    background: #4CAF50 ;
    --text-align: center;
    --border-radio:0px;
    --webkit-transition: all 0.3 ease;
    --transition: all 0.3 ease;
    --cursor: pointer;
    background-color: #4CAF50 ;
    border-bottom: 10px solid #2b682dfa;

}

.btnSalvarProduto:active{

     background-color: #63b366;
    border-bottom: 5px solid #2b682dfa ;

}







@media screen and (max-width: 800px){


    
    *{
        margin:0px;
        padding: 0px;
    }



    
    .btnSalvarProduto{
        margin: auto;
        width: 80%;
        height:60px;
       outline: 0;
       background: #4CAF50 ;
       --text-align: center;
       --border-radio:0px;
       --webkit-transition: all 0.3 ease;
       --transition: all 0.3 ease;
       background-color: #4CAF50 ;
       border-bottom: 15px solid #2b682dfa;

    }

    .btnSalvarProduto:active{

     background-color: #63b366;
    border-bottom: 5px solid #2b682dfa ;

    }

}
