<ion-content [fullscreen]="true">
  
  <div>
    <div class="fundo"></div>
     
      <div class="container" class="login" >  
          <div class="centro">
          <div class="row"  >
            <div class="col" style="text-align: center; margin-top: -30px; ">
              <h1 style="font-family: 'Roboto', sans-serif; text-transform: uppercase; outline: 0;">Login</h1>
            </div>
          </div>
    
          <div class="row">
            <div class="col">
              <ion-item>
                <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email" class="input" ></ion-input>
              </ion-item>
            </div>
          </div>
    
          <div class="row">
          <div class="col">
            <ion-item>
              <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password" class="input"></ion-input>
            </ion-item>
          </div>
        </div>
    
        <div class="row">
          <div class="col">
            <ion-item>
              <ion-button class="butao" (click)="login()" expand="full" >
                Entrar
              </ion-button>
            </ion-item>
          </div>
        </div>

        <div>
          <p class="link"><label for="">Não é cadastrado ainda?<a href="register">Cadastre-se</a></label></p>
        </div>


        </div>
    
      </div>
    
  </div>
   
</ion-content>
