<ion-content>

  <div>
    <div class="fundo"></div>
     
      <div class="container" class="register" >  
          <div class="centro">
          <div class="row"  >
            <div class="col" style="text-align: center; margin-top: -30px; ">
              <h1 style="font-family: 'Roboto', sans-serif; text-transform: uppercase; outline: 0;">Registrar</h1>
            </div>
          </div>
    
          <div class="row">
            <div class="col">
              <ion-item>
                <ion-input type="email" placeholder="E-mail" class="input" ></ion-input>
              </ion-item>
            </div>
          </div>
    
          <div class="row">
          <div class="col">
            <ion-item>
              <ion-input type="password" placeholder="Senha" class="input" ></ion-input>
            </ion-item>
          </div>
        </div>
    
        <div class="row">
          <div class="col">
            <ion-item>
              <ion-button class="butao" expand="full" >
                Enviar
              </ion-button>
            </ion-item>
          </div>
        </div>

        <div>
          <p class="link"><label for="">Já possuiu uma conta?<a href="home">Entrar</a></label></p> 
        </div>


        </div>
    
      </div>
    
  </div>



</ion-content>
