<ion-content [fullscreen]="true">
  
  <div class="header">

    <h1>Home</h1>
    <ion-button class="btnLogout" (click)="logout()" color='none' expand="full">
      Sair <ion-icon name="exit" class="inc"></ion-icon>
    </ion-button>
  

  </div>
  <div class="container">
    <div class="btn1"> <a href="pagina-construcao">Valor da moeda </a> </div>
    <div class="btn2"> <a href="lista-compra">Lista de Compras</a> </div>
    <div class="btn3"> <a href="page-construcao2">Previsão do tempo</a> </div>
  </div>
    



</ion-content>