<ion-content [fullscreen]="true">
  
  <div class="header">

  </div>
 
  <div class="container">
    
    <div class="row">
      <div class="col">
        <a class="btn" href="#"  > Valor da moeda real</a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a class="btn" href="#"  > Lista de produtos</a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a  class="btn" href="#"  > previsão do tempo</a>
      </div>
    </div>
    
    
  </div>



</ion-content>